.navbar.navbar-monitoring {
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
}

.form-group label.control-label {
  color: #3E3E3E;
}


.navbar .navbar-form .form-group .form-control, .navbar .navbar-form .form-control {

}



.navbar-form .radio, .navbar-form .checkbox {
  margin-right: 10px;
}

.material-block {
  margin: 4%;
  width: 92%;

  background: rgba(224, 224, 224, 0.75);
  min-height: 400px;
}

.circles-text {
  font-size: 25px !important;
}

.circles-text-ram {
  font-size: 15px !important;
}

.circle {
    display: inline-block;
    vertical-align: bottom;
}

.circle-ram {
    margin-left: -16px;
}

.average {
    margin-top: 20px;
}

.list-group .list-group-item .row-picture, .list-group .list-group-item .row-action-primary  {
    vertical-align: top;
}

.monitoring-left {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    min-width: 200px;
}

.monitoring-right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    min-width: 300px;
}


.graph-elem {
    transition: all 1.5s;
}

@media screen and (max-width: 780px) {
    .monitoring-left {
        width: 100%;
    }

    .monitoring-right {
        width: 100%;
    }

    .inputs-login .form-group {
        height: 60px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1700px) {
    .monitoring-left {
        width: 100%;
    }

    .monitoring-right {
        width: 100%;
    }
}
